<?php
// settings.local.php
// edit this file containing your own information and save as settings.local.php

// database info
define ('DB_HOST', 'localhost');
define ('DB_USER', 'USERNAME');
define ('DB_PASSWD', 'PASSWORD');
define ('DB_NAME', 'DB_NAME');

// twitter keys
define ('CONSUMER_KEY', 'consumer_key');
define ('CONSUMER_SECRET', 'consumer_secret');
define ('OAUTH_KEY', 'oauth_key');
define ('OAUTH_SECRET', 'oauth_secret');

// outgoing twitterkeys
// this can be the same account as above, be aware that you need to modify your application
// default an application is read-only, if you want to send tweets as well, you need to make your
// application read-write and generate new keys!

define ('OUTGOING_CONSUMER_KEY' , 'outgoing_consumer_key');
define ('OUTGOING_CONSUMER_SECRET', 'outgoing_consumer_secret');
define ('OUTGOING_OAUTH_KEY', 'outgoing_oauth_key');
define ('OUTGOING_OAUTH_SECRET', 'outgoing_oauth_secret');


// application constants
define ('ITEMS_PER_PAGE', 25);

setlocale(LC_ALL, 'nl_NL');

// outgoing tweet-bot
// default disabled
define ('SEND_TWEETS', 0);
// if enabled we count how many times a story has been tweeted
define ('COUNT_TWEETS' ,0);
?>