body {
	background: #9ECECA;
	font-family: tahoma, "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
	padding: 0;
	margin: 0;
}
a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px dotted #000;
	}
a:hover,
a:active {
	border-bottom: 1px dotted red;
	}
a:visited {
	border-bottom: 1px solid #666;
	}
table {
	background: #fff;
	margin: 0 10px;
	font-size: 14px;
	}
td {
	padding: 2px 5px;
	}
tr.odd {
	background: #FFF899;
	}
th {
	background: #eee;
	}
h1 {
	width: auto;
	color: #000;
	background-color: #DF5B57;
	padding: 5px 10px 5px 10px;
	margin: 0 0 10px 0;
	}
.meta-table {
	float: left;
	max-width: 60%;
	margin-top: 5px;
	}
.clear {
	clear: both;
	}
.all {
	padding: 0 5px;
	margin-bottom: 3px;
	}

#topmenu {
	width: 400px;
	position: absolute;
	top: 0;
	left: 60%;
	color: #fff;
	font-size: 16px;
	}
#topmenu ul {
	margin: 0;
	padding: 0;
	}
#topmenu a {
	fontsize: 16px;
	color: #fff;
	text-decoration: none;
	border: none;
	}
#topmenu li {
	margin: 0;
	padding: 0;
	}
#topmenu li {
	display: inline;
	width: 200px;
	float: left;
	}
ul#topmenu ul {
	display: none;
	}
ul#topmenu ul li {
	background: #DF5B57;
	padding: 5px 10px;
	}
ul#topmenu li:hover > ul {
	display: block;
	background: #DF5B57;
	}